.gallery {
    background: url("../img/gallery/bg.png")no-repeat center;
    padding-bottom: 105px;
}
.container {
}
.gallery-video {
    margin-top: 125px;
    text-align: center;
    

		&__link {
		}

		&__picture {
            padding: 20px 20px;
            border: 2px solid #7538FF;
		}
}
.gallery-img {
    
}
.gallery-table {
    
}
th{
    padding-top: 50px;
    &:nth-child(odd){
        padding-top: 150px;
    }
}
