.header {
    & .mininav{
        display: none;
    }
    &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 70px;
        margin-bottom: 36px;
        &__logo {
        }

        &__img {
            
        }

        &__menu {
            display: flex;
            align-items: center;
            &-item {
                font-family: "Jost";
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 25px;
                /* identical to box height */
                color: #000000;
                margin-right: 58px;
                text-decoration: none;
            }
        }
        &__Btn {
            font-family: "Jost";
            background: #f93264;
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 25px;
            /* identical to box height */
            color: #ffffff;
            border: none;
            text-decoration: none;
            padding: 9px 16px;
        }
    }
}
