.info-up {
    background-image: url(../img/info/drow.png);
    background-repeat: no-repeat;
    background-position: 100% 110%;
    min-height: 100%;
}
.info {
    background-image: url(../img/info/rainbow.png);
    background-repeat: no-repeat;
    background-position: top;
    background-color: #fa3465;
    
    &__title1 {
        padding-top: 90px;
        padding-bottom: 65px;
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 55px;
        /* identical to box height */
        color: #ffffff;
    }
    &__title2 {
        font-family: "Jost";
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 55px;
        /* identical to box height */
        color: #ffffff;
       
        &_text {
            font-weight: 500;
            font-size: 26px;
            line-height: 38px;
            color: #ffffff;
            padding-top: 36px;
            padding-bottom: 124px;
            
            
        }
    }
    &__item {
        padding-bottom: 81px;
        &-num {
            font-family: "Kalam";
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 57px;
            text-align: center;
            color: #260e4d;
            text-decoration: underline;
        }
        &-text {
            font-style: normal;
            font-weight: 500;
            font-size: 26px;
            line-height: 38px;
            padding-bottom: 36px;
            color: #ffffff;
            
            &_black {
                color: #260e4d;
            }
        }
    }
}
