@media (max-width: 415px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 564px) {
}
@media (max-width: 360px) {
}

@media (max-width: 415px) {
    .header-nav {
        position: relative;
        &_active {
            position: fixed;
            width: 50%;
            // width: 50%;
            height: 100%;
            top: 0;
            left: 0;
            background: #f93264;
            flex-direction: column;
            justify-content: start;
            & .header-nav__menu {
                display: flex;
                flex-direction: column;
                &-item {
                    margin-right: 0;
                    margin-bottom: 15px;
                }
            }
        }
        &__menu {
            display: none;
        }
    }
    .header {
        position: relative;
        & .mininav {
            display: block;
            width: 50px;
            height: 50px;
            position: absolute;
            top: 20px;
            right: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            &_active {
                position: fixed;
                & .mininav__line {
                    background: none;
                    &::before {
                        transform: rotate(45deg);
                        top: 0;
                    }
                    &::after {
                        transform: rotate(-45deg);
                        top: 0;
                        width: 100%;
                    }
                }
            }
            &__line {
                width: 100%;
                height: 2px;
                background: #f93264;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #f93264;
                    top: -12px;
                    transition: 0.4s all;
                }
                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    width: 50%;
                    height: 100%;
                    background: #f93264;
                    top: 12px;
                    transition: 0.4s all;
                }
            }
        }
    }
    .header-nav {
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .home__title {
        font-size: 25px;
        line-height: 37px;
        margin-top: 30px;
        margin-left: 0px;
    }
    .home__title_opacity {
        font-size: 22px;
        top: 15px;
        left: 80px;
        -webkit-text-stroke: 1px white;
    }
    .home__subtitle {
        font-size: 15px;
        margin-top: 25px;
        margin-left: 10px;
    }
    .home__text1 {
        font-family: "Jost";
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
        text-align: center;
        color: #152836;
        margin-top: 5px;
    }
    .home__text2 {
        font-size: 10px;
        line-height: 14px;
        margin-top: 5px;
    }
    .home__btn {
        margin-top: 1px;
    }
    .home__btn_left {
        font-size: 10px;
        line-height: 10px;
        margin-right: 0px;
        padding: 9px 41px;
    }
    .home__btn_right {
        font-family: "Jost";
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 10px;
        color: #595858;
        text-decoration: none;
        padding: 9px 41px;
        margin-right: 0px;
    }
    .about {
        padding-top: 0px;
    }
    .about__title {
        font-family: "Jost";
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 25px;
        color: #00213c;
        margin-top: 15px;
    }
    .about__subtitle {
        font-family: "Jost";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #00213c;
        margin-top: 5px;
    }
    .about__text {
        font-size: 12px;
        line-height: 17px;
        margin-top: 13px;
    }
    .about__card {
        margin-top: 0px;
    }
    .about__card_title {
        font-size: 15px;
        line-height: 15px;
        margin-top: 10px;
        margin-bottom: 60px;
    }
    .about__card_title {
        font-size: 15px;
        line-height: 15px;
        margin-top: 10px;
        margin-bottom: -1px;
    }
    .about__card_imgmid {
        margin-top: 0px;
    }
    .about__card_imgright {
        margin-top: 40px;
    }
    .about__card_text {
        font-family: "Jost";
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        position: relative;
        padding: 5px;
        top: -15px;
        right: -10px;
        line-height: 10px;
    }
    .about__card_text_red {
        font-family: "Jost";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 1px;
        color: #fa3465;
    }
    .info__title1 {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 20px;
        line-height: 20px;
    }
    .info__item-num {
        font-size: 15px;
        line-height: 15px;
    }
    .info__item-text {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 15px;
        padding-bottom: 1px;
        color: #ffffff;
    }
    #col-item {
        flex: 0 0 auto;
        width: 100%;
    }
    .info__item {
        padding-bottom: 5px;
    }
    .info__title2 {
        font-size: 25px;
        line-height: 25px;
    }
    .info__title2_text {
        font-weight: 500;
        font-size: 15px;
        line-height: 15px;
        color: #ffffff;
        padding-top: 10px;
        padding-bottom: 40px;
    }
    .ourpeople__img_left {
        width: 70%;
        margin-left: 60px;
    }
    .ourpeople__img_middle {
        width: 70%;
        margin-top: 0;
        margin-left: 60px;
    }
    .ourpeople__img_right {
        width: 100%;
        width: 70%;
        margin-top: 0;
        margin-left: 60px;
    }
    .ourpeople__img_text {
        font-size: 17px;
        line-height: 20px;
    }
    .ourpeople__img_text-red {
        font-size: 13px;
        line-height: 15px;
    }
    .ourpeople__title3 {
        font-size: 25px;
        line-height: 25px;
        margin-top: 10px;
    }
    .ourpeople__title3_text {
        padding-top: 5px;
        font-size: 15px;
        line-height: 15px;
    }
    .ourpeople__title3_text1 {
        padding-top: 10px;
        font-size: 13px;
        line-height: 13px;
        padding-bottom: 20px;
    }
    .ourpeople__btn {
        font-size: 15px;
        line-height: 15px;
        padding: 5px 20px;
    }
    .ourpeople {
        position: relative;
        margin-top: -20px;
        padding-bottom: 15px;
    }
    .master__title {
        font-size: 25px;
        line-height: 25px;
        margin-left: -60px;
    }
    .master__text1 {
        font-size: 18px;
        line-height: 18px;
        padding-top: 20px;
    }
    .master__text1_name {
        padding-top: 20px;
        margin-bottom: 10px;
    }
    .master__text2 {
        font-size: 18px;
        line-height: 18px;
        color: #000000;
        padding-top: 10px;
    }
    #master__photo {
        display: block;
        width: 100%;
        background: url("../img/master/1bg.png") no-repeat;
        background-size: 90%;
        background-position: 10% 70%;
    }
    .master__img {
        display: none;
        padding-bottom: 40px;
        background: url(../img/master/1bg.png) no-repeat;
        padding-left: 18px;
    }
    .gallery-video {
        margin-top: 25px;
        text-align: center;
    }
    .gallery-video__picture {
        padding: 10px 10px;
        border: 2px solid #7538ff;
        width: 100%;
    }
    #gimg {
        width: 100%;
    }
    #hidden {
        display: none;
    }
    th:nth-child(odd) {
        padding-top: 1px;
    }
    .gallery {
        background: url(../img/gallery/bg.png) no-repeat center;
        padding-bottom: 0px;
    }
    .base__head {
        font-size: 25px;
        line-height: 25px;
        padding-top: 30px;
    }
    .base__head_text {
        font-size: 18px;
        line-height: 18px;
        padding-top: 20px;
    }
    .base__name {
        font-size: 25px;
        line-height: 25px;
        padding-top: 20px;
    }
    .base-block1 {
        padding: 10px 0 10px;
    }
    #rainbow {
        width: 80%;
        position: relative;
        right: -100px;
        top: -75px;
    }
    #rainbowmid {
        width: 50%;
        position: relative;
        right: 0px;
        top: -75px;
    }
    .base__first_subtitle-text {
        padding-top: 13px;
        font-size: 13px;
        line-height: 13px;
        max-width: 300px;
        position: relative;
        top: -90px;
        left: 100px;
    }
    .base__first_img-vertical {
        position: absolute;
        width: 79px;
    }
    .base__first_img-horizontal {
        position: relative;
        top: 60px;
        left: 10px;
        width: 76px;
    }
    .tematic__first_img-vertical {
        position: absolute;
        width: 79px;
    }
    .tematic__first_img-horizontal {
        position: relative;
        top: 60px;
        left: 10px;
        width: 76px;
    }
    .owl-carousel .owl-item img {
        display: inline-block;
        width: 76px;
    }
    #middle {
        position: relative;
    }
    .base__first_img-horizontal_middle {
        padding-left: 0px;
        position: relative;
        padding-left: 0px;
        position: relative;
        top: -200px;
        /* left: 15px; */
        width: 76px;
        right: -290px;
        
        
    }
    .base__first_img-vertical_middle {
        padding-left: 0px;
        position: absolute;
        width: 79px;
        top: -260px;
        right: 0px;
    }
    .base__first_subtitle-drop {
        position: absolute;
        left: -10px;
        width: 7px;
    }
    .thematic__first_subtitle-drop {
        position: absolute;
        left: -10px;
        width: 7px;
    }
    .base__first_arrow {
        font-size: 10px;
        line-height: 10px;
        position: relative;
        top: -130px;
        left: 92px;
    }
    .base__first_price {
        font-weight: 400;
        font-size: 10px;
        line-height: 10px;
        color: #000000;
        padding-top: 0px;
        text-align: end;
        position: relative;
        top: -144px;
    }
    .base__first_btn {
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 10px;
        color: #ffffff;
        background: #f93264;
        padding: 5px 10px;
        text-decoration: none;
        margin-left: 20px;
    }
    #arr{
        width: 20px;
    }
    .base-block2 {
        padding: 0;
        position: relative;
        top: -70px;
    }
    .base__first_price-middle {
        font-weight: 400;
        font-size: 10px;
        line-height: 10px;
        color: #000000;
        padding-top: 0px;
        text-align: end;
        position: relative;
        top: -144px;
        left: -140px;
    }
    #textmid{
        position: relative;
        left: -90px;
    }
    #arrmid{
        width: 20px;
        left: 0;
    }
    .base-block3 {
        position: relative;
        top: -250px;
        padding: 0;
    }
    #owlimg{
        width: 100%;
    }
    .thematic {
        padding-top: 0;
        margin-top: -299px;
    }
    #dropt{
        width: 5px;
    }
    .thematic__first_subtitle-text {
        padding-top: 0px;
        font-size: 13px;
        line-height: 13px;
    }
    .thematic-block1 {
        padding: 60px 0 0px;
    }
    .faq__title {
        font-size: 25px;
        line-height: 15px;
        padding-top: 9px;
    }
    #acc{
        font-size: 15px;
        line-height: 15px;

    }
    .faq__offer {
        padding-top: 34px;
        text-align: center;
        font-family: "Jost";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 15px;
        text-align: center;
        color: #000000;
    }
    .faq__btn {
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .faq__item {
        padding-top: 10px;
    }
    .footer-nav__num {
        font-family: "Jost";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        text-decoration: none;
    }
    .footer-nav__menu-item {
        font-family: "Jost";
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
        color: #000000;
        text-decoration: none;
    }
    .footer-nav__logo {
        font-family: "Jost";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
        color: #22303b;
        text-decoration: none;
    }
}
