.ourpeople {
    position: relative;
    margin-top: -20px;
    padding-bottom: 79px;
    &__img {
        &_left {
            width: 100%;
        }
        &_middle {
            width: 100%;
            margin-top: -100px;
        }

        &_right {
            width: 100%;
        }

        &_text {
            font-family: "Jost";
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 32px;

            color: #00213c;
        }

        &_text-red {
            font-family: "Jost";
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 25px;

            color: #ea557b;
        }
    }

    &__title3 {
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 55px;
        /* identical to box height */

        color: #000000;
        &_text {
            padding-top: 21px;
            font-family: "Jost";
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 29px;
            text-align: center;
            color: #000000;
        }

        &_text1 {
            padding-top: 21px;
            font-family: "Jost";
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 25px;
            text-align: center;
            color: #000000;
            padding-bottom: 44px;
        }
    }

    &__btn {
        font-family: "Jost";
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        /* identical to box height */
        color: #ffffff;
        padding: 9px 41px;
        background: #F93264 ;
        text-decoration: none;
        
    }
}
