.students {
    background: url("../img/students/bg.png") no-repeat;
    background-position: center bottom;
    padding-bottom: 190px;
    &__title {
        font-family: "Jost";
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 55px;
        /* identical to box height */
        color: #002d53;
        padding: 90px 0 90px;
    }
    &__bg{
        
        &-img{
            
        }
    }
}

.job-wrap {
    padding: 5px;
    &:hover {
        transform: scale(1.1);
        
    }
}


