@import url('../fonts/Monser/stylesheet.css');
@import url('../fonts/Sans/stylesheet.css');
@import url('../fonts/jost/stylesheet.css');
@import url('../fonts/kalam/stylesheet.css');
@import url('../libs/bootstrap/bootstrap-grid.min.css');
@import url('../libs/owl/owl.carousel.min.css');
@import url('../libs/owl/owl.theme.default.min.css');
@import url('../libs/fa/all.min.css');
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Jost";
}
@import './header.scss';
@import './about.scss';
@import './gallery.scss';
@import './base.scss';
@import './courses2.scss';
@import './faq.scss';
@import './footer.scss';
@import './home.scss';
@import './info.scss';
@import './master.scss';
@import './reviews.scss';
@import './students.scss';
@import './ourpeople.scss';
@import './thematic.scss';
@import './media.scss';

